<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>文森特·梵高</string>
		<key>article</key>
		<string>文森特·威廉·梵高（Vincent Willem van Gogh，1853－1890），中文又称”凡高”，荷兰后印象派画家。出生于新教牧师家庭，是后印象主义的先驱，并深深地影响了二十世纪艺术，尤其是野兽派与表现主义。
梵高早期只以灰暗色系进行创作，直到他在巴黎遇见了印象派与新印象派，融入了他们的鲜艳色彩与画风，创造了他独特的个人画风。他最著名的作品多半是他在生前最后二年创作的，期间梵高深陷于精神疾病中，其最后在他37岁那年将他导向自杀一途。在梵高去世之后，梵高的作品，《星夜》、《向日葵》与《有乌鸦的麦田》等，已跻身于全球最著名最珍贵的艺术作品的行列。[1]  梵高的作品目前主要收纳在法国的奥赛美术馆，以及苏黎世的kunshaus美术馆。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>巴勃罗·鲁伊斯·毕加索</string>
		<key>article</key>
		<string>毕加索，西班牙画家、雕塑家。法国共产党党员。是现代艺术的创始人，西方现代派绘画的主要代表。他于1907年创作的《亚威农少女》是第一张被认为有立体主义倾向的作品，是一幅具有里程碑意义的著名杰作。它不仅标志着毕加索个人艺术历程中的重大转折，而且也是西方现代艺术史上的一次革命性突破，引发了立体主义运动的诞生。这幅画在以后的十几年中竟使法国的立体主义绘画得到空前的发展，甚至还波及到芭蕾舞、舞台设计、文学、音乐等其他领域。《亚威农少女》开创了法国立体主义的新局面，毕加索与勃拉克也成了这一画派的风云人物。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>列夫·尼古拉耶维奇·托尔斯泰</string>
		<key>article</key>
		<string>19世纪中期俄国批判现实主义作家、文学家、思想家，哲学家。世袭伯爵，曾参加克里米亚战争。返回雅斯纳·亚波利亚纳的农庄后致力于农民教育。1862年结婚后，创作了俄罗斯文学史上的巨著《战争与和平》（1859～1869）、《安娜·卡列尼娜》（1875～1877）。1879年经历了一次信仰危机后信奉和平主义，主张以勿抗恶的方式对社会进行改革。并否定自己以前的作品。因执着于自己的信念使家庭关系恶化，死于出奔途中。其作品多达45卷。名著还有长篇小说《复活》（1899）、戏剧《黑暗的势力》（1886）和若干短篇小说和评论[1]  。
他的文学传统不仅通过高尔基而为苏联作家所批判地继承和发展，在世界文学中也有其巨大影响。在文学创作和社会活动中，他提出了“托尔斯泰主义”，对很多政治运动有着深刻影响。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>达·芬奇</string>
		<key>article</key>
		<string>列奥纳多·迪·皮耶罗·达·芬奇 （Leonardo Di Serpiero Da Vinci），儒略历1452年4月15日（公历1452年4月23日）~1519年5月2日，享年67岁。欧洲文艺复兴时期的天才科学家、发明家、画家。现代学者称他为“文艺复兴时期最完美的代表”，是人类历史上绝无仅有的全才，他最大的成就是绘画，他的杰作《蒙娜丽莎》、《最后的晚餐》，《岩间圣母》等作品，体现了他精湛的艺术造诣。他认为自然中最美的研究对象是人体，人体是大自然的奇妙之作品，画家应以人为绘画对象的核心。
他是一位思想深邃，学识渊博、多才多艺的画家、天文学家、发明家、建筑工程师。他还擅长雕刻、音乐、发明、建筑，通晓数学、生理、物理、天文、地质等学科，既多才多艺，又勤奋多产，保存下来的手稿大约有6000页。他全部的科研成果尽数保存在他的手稿中，爱因斯坦认为，达·芬奇的科研成果如果在当时就发表的话，科技可以提前30-50年。
达·芬奇少年时已显露艺术天赋，15岁左右到佛罗伦萨拜师学艺，成长为具有科学素养的画家、雕刻家。并成为军事工程师和建筑师1482年应聘到米兰后，在贵族宫廷中进行创作和研究活动，1513年起漂泊于罗马和佛罗伦萨等地。1516年侨居法国，1519年5月2日病逝。小行星3000被命名为“列奥纳多”。最著名的作品是《蒙娜丽莎》现在是巴黎的卢浮宫的三件镇国之宝之一。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艾萨克·牛顿</string>
		<key>article</key>
		<string>艾萨克·牛顿（1643年1月4日—1727年3月31日）爵士，英国皇家学会会长，英国著名的物理学家，百科全书式的“全才”，著有《自然哲学的数学原理》、《光学》。
他在1687年发表的论文《自然定律》里，对万有引力和三大运动定律进行了描述。这些描述奠定了此后三个世纪里物理世界的科学观点，并成为了现代工程学的基础。他通过论证开普勒行星运动定律与他的引力理论间的一致性，展示了地面物体与天体的运动都遵循着相同的自然定律；为太阳中心说提供了强有力的理论支持，并推动了科学革命。
在力学上，牛顿阐明了动量和角动量守恒的原理，提出牛顿运动定律[1]  。在光学上，他发明了反射望远镜，并基于对三棱镜将白光发散成可见光谱的观察，发展出了颜色理论。他还系统地表述了冷却定律，并研究了音速。
在数学上，牛顿与戈特弗里德·威廉·莱布尼茨分享了发展出微积分学的荣誉。他也证明了广义二项式定理，提出了“牛顿法”以趋近函数的零点，并为幂级数的研究做出了贡献。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拉斐尔·桑西</string>
		<key>article</key>
		<string>拉斐尔（1483 ——1520），原名拉法埃洛·圣乔奥，意大利著名画家，也是“文艺复兴后三杰”中最年轻的一位，代表了文艺复兴时期艺术家从事理想美的事业所能达到的巅峰。他的性情平和、文雅，创作了大量的圣母像，他的作品充分体现了安宁、协调、和谐、对称以及完美和恬静的秩序。[1] </string>
	</dict>
	<dict>
		<key>name</key>
		<string>米开朗基罗·博那罗蒂</string>
		<key>article</key>
		<string>米开朗基罗·博那罗蒂（Michelangelo di Lodovico Buonarroti Simoni，1475～1564），意大利文艺复兴时期伟大的绘画家、雕塑家、建筑师和诗人，文艺复兴时期雕塑艺术最高峰的代表。与拉斐尔和达芬奇并称为文艺复兴后三杰，又译“米开朗基罗”、“米高安哲罗”。[1]  他一生追求艺术的完美，坚持自己的艺术思路。他于 1564 年在罗马去世，他的风格影响了几乎三个世纪的艺术家。 小行星 3001 以他的名字命名来表达后人作为对他的尊敬。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>村上隆</string>
		<key>article</key>
		<string>村上隆(日语 村上 隆 平假名 むらかみ たかし 罗马字 Murakami Takashi)，是上世纪60年代以后出生的日本艺术家中极具影响力的一位，在日本不仅是一位受到广泛的喜爱的艺术家，也是日本新一代年轻人的偶像。他强烈意识到——西方的当代艺术与日本的艺术创作是截然不同的，重要的是我们这一代人如何不依靠任何固有的文化体系而创造出最本质的东西。因而他的作品既融合了东方传统与西方文明，高雅艺术与通俗文化之间的对立元素，同时又保留了其作品的娱乐性和观赏性。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杰夫·昆斯</string>
		<key>article</key>
		<string>杰夫·昆斯于1955年出生于约克，宾夕法尼亚州。毕业于马里兰艺术学院和芝加哥艺术学院，昆斯在纽约市生活和工作。昆斯成名之作是他的公共雕塑，如巨大的花卉雕塑小狗（1992年）。杰夫·昆斯的不锈钢雕塑作品《悬挂的心》曾在纽约拍出2600多万美元的高价，创下了在世艺术家的成交价新纪录，他也成为拍卖场上作品最值钱的在世艺术家。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>伍迪·艾伦</string>
		<key>article</key>
		<string>伍迪·艾伦，本名艾伦·斯图尔特·康尼斯堡（Allen Stewart Konigsberg），美国电影导演、编剧、演员、喜剧演员、作家、音乐家与剧作家。艾伦独具风格的电影，范畴横跨戏剧、脱线性喜剧，让他成了美国在世最受尊敬的导演之一。艾伦也以他速度飞快的电影拍摄过程与数量繁多的电影作品著名。艾伦的电影常包办编剧、导演，有时甚至自己上阵演出。灵感方面，艾伦则汲取自文学、性、哲学、心理学、古希腊、犹太身份、欧洲电影，以及他的出生地与一生的居所：纽约市。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>达明安·赫斯特</string>
		<key>article</key>
		<string>达明安·赫斯特Damien Hirst是1965年出生于英国布里斯托尔，在英格兰北部的利兹长大。1986至1989年先后就读于利兹的雅各布克莱默艺术学院和伦敦大学哥德史密斯学院，现在在德文郡和伦敦生活和工作。英国成交价最贵的当代艺术家。他的父亲是一位汽车维修兼销售员，母亲名叫玛莉，过去是一位天主教徒，在市民咨询局（Citizens Advice Bureau）工作。赫斯特的父母在他12岁时离异，而母亲则曾表示&quot;从他年轻时就管不住他&quot;。</string>
	</dict>
	<dict>
		<key>name</key>
		<string>村上隆</string>
		<key>article</key>
		<string>村上隆(日语 村上 隆 平假名 むらかみ たかし 罗马字 Murakami Takashi)，是上世纪60年代以后出生的日本艺术家中极具影响力的一位，在日本不仅是一位受到广泛的喜爱的艺术家，也是日本新一代年轻人的偶像。他强烈意识到——西方的当代艺术与日本的艺术创作是截然不同的，重要的是我们这一代人如何不依靠任何固有的文化体系而创造出最本质的东西。因而他的作品既融合了东方传统与西方文明，高雅艺术与通俗文化之间的对立元素，同时又保留了其作品的娱乐性和观赏性。</string>
	</dict>
</array>
</plist>
